---
title: Dynamic Font
---

.headline1 Heading 1
.headline2 Heading 2
.body Body
.subheadline1 Subheadline 1
.subheadline2 Subheadline 2
.footnote Footnote
.caption1 Caption 1
.caption2 Caption 2
.short-headline1 Short Headline 1
.short-headline2 Short Headline 2
.short-body Short Body
.short-subheadline1 Short Subheadline 1
.short-subheadline2 Short Subheadline 2
.short-Footnote Short Footnote
.short-Caption1 Short Caption 1
.tall-body Tall Body

